<h1><%= @bachelorette.name %>'s Contestants</h1>

<ul id="contestants">
  <% @contestants.each do |contestant| %>
    <li><%= link_to contestant.name, contestant_path(contestant) %></li>
    <p>Age: <%= contestant.age %></p>
    <p>Hometown: <%= contestant.hometown %></p>
    <br>
  <% end %>
</ul>

<p>These Contestants are from the following hometowns:
  <% @bachelorette.unique_hometowns.each do |hometown| %>
    <%= hometown %>,
  <% end %>
</p>