<h1><%= @outing.name %></h1>

<p><strong>Location:</strong> <%= @outing.location %></p>
<p><strong>Date:</strong> <%= @outing.date.strftime("%m/%d/%Y") %></p>
<p><strong>Count of Contestants:</strong> <%= @outing.contestant_count %></p>
<p><strong>Contestants: </strong></p> 
<ul>
  <% @outing.contestant_names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>