<h1><%= @outing.name %></h1>

<p><strong>Location:</strong> <%= @outing.location %></p>
<p><strong>Date:</strong> <%= @outing.date.strftime("%m/%d/%Y") %></p>
<p><strong>Count of Contestants:</strong> <%= @outing.contestant_count %></p>
<p><strong>Contestants: </strong></p> 
<ul id="contestants">
  <% @outing.contestants.each do |contestant| %>
    <li><%= contestant.name %> - <%= button_to "Remove", "/contestants/#{contestant.id}/outings/#{@outing.id}", method: :delete %></li>
  <% end %>
</ul>